* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --pri-fcolor: rgb(204, 204, 204);
    --sec-fcolor: rgb(163, 161, 161);
    --ter-fcolor: rgb(160, 32, 32);

    --mute-color: rgb(47, 45, 45);
    --blockquote: rgb(107, 105, 105);

    --pri-font: "Inter", sans-serif;
    --sec-font: "Black Ops One", system-ui;
    --ter-font: "Mansalva", sans-serif;
}

body {
    background-color: rgb(24, 24, 24);
    color: var(--pri-fcolor);
    font-family: var(--pri-font);

}

/*Navigation bar and introduction container*/
.wrap-top {
    background-image: linear-gradient(to top, rgba(14, 14, 14, 1) 10%, rgba(14, 14, 14, 0) 100%), url('../Assets/Media/landscape-black-center.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    width: 100vw;
}

.sub-wrap{
    padding: 24px 15%;
    height: 95vh;
}


/*navigation bar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-family: var(--ter-font);
}

#highlight {
    color: var(--ter-fcolor);
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.tab {
    color: var(--pri-fcolor);
    text-decoration: none;
}

.active {
    color: var(--ter-fcolor);
    text-decoration: none;
}

/*Introduction*/

.introduction {
    display: flex;
    align-items: center;
    height: 100%;
}

.intro {
    width: 50%;
}

.showcase {
    margin-bottom: 16px;
}

.showcase h1 {
    color: var(--pri-fcolor);
}

.showcase p {
    color: var(--blockquote);
    margin-top: 6px;
}

.role {
    color: var(--sec-fcolor);
    font-size: 1.5rem;
    font-weight: 300;
}

.intro h2 {
    font-size: 2.5rem;
}

.show-experience {
    color: var(--sec-fcolor);
}

/*intro-buttons*/
.wrap-btn {
    margin-top: 50px;
}

.wrap-btn ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.click-me {
    padding: 16px 24px;
    border-radius: 3px;
    color: var(--pri-fcolor);
    text-decoration: none;
}

.talk {
    background-color: var(--ter-fcolor);
    border: 1px solid var(--ter-fcolor);
}

.resume {
    color: var(--pri-fcolor);
    border: 1px solid var(--pri-fcolor);
    background-color: transparent;
}

.intro-right {
    text-align: right;
}

/*Tools*/

.wrap-midtop {
    height: 20vh;
    background-color: rgb(14, 14, 14);
}

.sub-wrap1 {
    padding: 24px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 400;
}

.icon {
    display: flex;
    color: var(--mute-color);
    padding: 8px 12px;
    font-size: 1.5rem;
    margin: 0 6px 6px 0;
}

/*Experience*/

.wrap-middle {
    background-color: rgb(14, 14, 14);
    color: var(--sec-fcolor);
}

.sub-wrap2 {
    padding: 5% 15%;
}

.experience-section h1 {
    color: var(--sec-fcolor);
    margin-bottom: 24px;
}

.fa-feather-pointed {
    color: var(--blockquote);
}

.experience-subtitle {
    width: 50%;
    border-left: 2px solid var(--ter-fcolor);
    padding-left: 20px;
    color: var(--blockquote);
    margin: 12px 0;
}

#experience-section-list {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 24px;
    margin-top: 54px;
    align-items: start; 
}

.exp-title-layout {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.number {
    border:  2px solid rgb(172, 170, 170);
    color: rgb(172, 170, 170);
    border-radius:  28px;
    padding: 8px;
    font-size:  2.5rem;
    margin-right: 12px;
}

.exp-title h3 {
    font-weight:  400;
    font-size: 1.2rem;
    color: rgb(172, 170, 170);
}

.exp-title p {
    font-weight:  200;
    color: rgb(172, 170, 170);
}

.exp-description {
    font-weight:  200;
    color: rgb(125, 122, 122);
}

/*main content container*/








/*footer - contacts container*/

.wrap-contact {
    text-align: center;
}

.sub-wrap3 {
    padding: 2% 15%;
}

.sub-wrap3 h3 {
    font-weight: 200;
    margin-top: 5%;
}

.sub-wrap3 h1 {
    padding: 8px 0;
}

.sub-wrap3 p {
    color: var(--sec-fcolor);
}

.sub-wrap3 ul {
    list-style-type: none;
}

.ways-to-contact {
    padding: 5%;
}

.main-contact-btn ul{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.contactbtn {
    padding: 12px 20px;
    border-radius: 12px;
    color: var(--pri-fcolor);
    background-color: var(--ter-fcolor);
    text-decoration: none;
}

.sub-contact-btn {
    margin-top: 50px;
}

.sub-contact-btn ul {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.sub-contact-btn ul li a {
    padding: 8px 16px;
    border-radius: 12px;
    color: var(--blockquote);
    border: 1px solid var(--blockquote);
    background-color: transparent;
    text-decoration: none;
}


.copyright {
    text-align: center;
    color: var(--blockquote);
    padding: 24px 0;
}
